@charset "UTF-8";
@font-face {
    font-family: 'fontedoida' ;
    src: url('fontes/idroid.otf');
}

#cabecalho {
   background-image: linear-gradient(to top, #2a9b0e, #31be0e, #4af50c);
   color: white;
   text-align: center;
   padding: 1px;
   
   
}
body {
    background-color: #53f0ae;
    padding: 0px;

}

main {
    background-color: rgb(255, 255, 255);
    
            
            padding: 10px;
            margin: 50px;
            outline: auto;
            border-radius: 10px;
            
}



h1 {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: lighter;
    

}

.fontedoida1 {
    font-family: 'fontedoida';
    color: green;
    font-weight: 300;
    font-style: normal;
    font-weight: bolder;
    font-size: 2em;
    background-image: linear-gradient(to right, #cff7d3, #e4fae5, rgb(244, 255, 244));
}

picture {
    text-align: center;
}

img {
    text-align: center;
}

.unico {
    font-family: sans-serif;
    text-align: center;
}
nav {
   text-align: left;
}

nav > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-right: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}
a:hover {
    text-decoration: underline;
}

a {
    color: green
    
}

.paragrafo {

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 300;
}
.linha {
    display: inline-block;
    width: 45%;
}

.listah {
    font-size: medium;
    text-decoration: underline;
    font-weight: 500;
    width: auto;
}

.final {
    background-color: #8cd3b5;
    padding: auto;
    outline: auto;
}
.finalart {
    background-color: #6dc988;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.parafina {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-indent: 3%;
}

.ultimo {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: larger;


}

.footerfinal {
    background-color: #2a9b0e;
    color: rgb(252, 255, 253);
    text-align: center;
    padding: 10px 0%;
    margin: 1px 1px 1px  1px auto ;
    outline: auto #156141;
    

}

.parafooter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
}
