@charset "UTF-8";
body {
    background-color: aqua;
    
}

article {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(22, 22, 22, 0.493);
   border-radius: 10px 15px;
}

header > h1 {
    text-align: center;
    background-color: black;
    color: aquamarine;
    border-radius: 15px;
    min-width: 80vh;

}

header > p {
    background-color: brown;
    color: blanchedalmond;
    text-align: center;
    text
}
    